
.input-main-div {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.input-userGameData-table-div {
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

}

.input-champTable_img {
        border-radius: 8px;
}

